---
import Layout from '../layouts/Layout.astro';
---

<Layout title="-D/A/N/T/E-">
	<main class="grid grid-cols-1 content-center w-screen h-screen lg:pl-96">
		<div class="bg-gradient-to-r from-[#7CEAFF] via-[#96E631] to-[#3CE274] p-8 pl-14">
			<img src="/dante.png"/>
		</div>
		<div class="bg-gradient-to-r from-[#7CEAFF] via-[#96E631] to-[#3CE274] p-6 pl-14 mt-2">
			<h1 class="text-black">Hello World!</h1>
		</div>
	</main>
</Layout>